# Ignore node_modules and .next
node_modules/
.next/

# Ignore build output
dist/

# Ignore environment files
.env*
    
# Ignore lock files
package.json
package-lock.json

# Ignore config files
eslint.config.mjs
next.config.ts
tailwind.config.ts
tsconfig.json