# Ignore node_modules and .next
node_modules/
.next/

# Ignore build output
dist/

# Ignore environment files
.env
.env.sample
    
# Ignore lock files
package-lock.json

# Ignore config files
eslint.config.mjs